body{
background-color: #393E46;
text-align: center;
}
h1{
  margin: 20px 0;
  font-size:8rem;
  color: #4ECCA3;
  font-family: Lobster;
  text-shadow:5px 0 #232931;
}
.dice{
  margin-top: 35px;
   display: inline-block;
   color: #4ECCA3;
   font-size: 2rem;
   font-family:  'Indie Flower', cursive;
}
footer{
    color: white;
    margin-top: 35px;
    font-family:  'Indie Flower', cursive;
}
img{
  width: 60%;
}
